USE [master]
GO
/****** Object:  Database [reservation]    Script Date: 19-Jun-19 8:12:26 AM ******/
CREATE DATABASE [reservation]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'reservation', FILENAME = N'E:\TempDataBase\reservation.mdf' , SIZE = 4160KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'reservation_log', FILENAME = N'E:\TempDataBase\reservation_log.ldf' , SIZE = 1040KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [reservation].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [reservation]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 19-Jun-19 8:12:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Rooms]    Script Date: 19-Jun-19 8:12:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rooms](
	[roomId] [int] IDENTITY(1,1) NOT NULL,
	[roomName] [nvarchar](max) NULL,
	[roomTypeName] [nvarchar](max) NULL,
	[roomType_roomTypeId] [int] NULL,
 CONSTRAINT [PK_dbo.Rooms] PRIMARY KEY CLUSTERED 
(
	[roomId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[RoomTransactions]    Script Date: 19-Jun-19 8:12:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RoomTransactions](
	[roomTransId] [int] IDENTITY(1,1) NOT NULL,
	[roomName] [nvarchar](max) NOT NULL,
	[roomTypeName] [nvarchar](max) NOT NULL,
	[from] [datetime] NOT NULL,
	[to] [datetime] NOT NULL,
	[numberOfDays] [int] NOT NULL,
	[price] [float] NOT NULL,
	[room_roomId] [int] NULL,
	[roomType_roomTypeId] [int] NULL,
 CONSTRAINT [PK_dbo.RoomTransactions] PRIMARY KEY CLUSTERED 
(
	[roomTransId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[RoomTypes]    Script Date: 19-Jun-19 8:12:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RoomTypes](
	[roomTypeId] [int] IDENTITY(1,1) NOT NULL,
	[roomTypeName] [nvarchar](max) NULL,
	[roomTypePrice] [float] NOT NULL,
 CONSTRAINT [PK_dbo.RoomTypes] PRIMARY KEY CLUSTERED 
(
	[roomTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Rooms] ON 

INSERT [dbo].[Rooms] ([roomId], [roomName], [roomTypeName], [roomType_roomTypeId]) VALUES (1, N'200', N'Suite', NULL)
INSERT [dbo].[Rooms] ([roomId], [roomName], [roomTypeName], [roomType_roomTypeId]) VALUES (2, N'201', N'Suite', NULL)
INSERT [dbo].[Rooms] ([roomId], [roomName], [roomTypeName], [roomType_roomTypeId]) VALUES (3, N'202', N'Suite', NULL)
SET IDENTITY_INSERT [dbo].[Rooms] OFF
SET IDENTITY_INSERT [dbo].[RoomTransactions] ON 

INSERT [dbo].[RoomTransactions] ([roomTransId], [roomName], [roomTypeName], [from], [to], [numberOfDays], [price], [room_roomId], [roomType_roomTypeId]) VALUES (1, N'201', N'Suite', CAST(N'2019-06-05 00:00:00.000' AS DateTime), CAST(N'2019-06-12 00:00:00.000' AS DateTime), 7, 1400, NULL, NULL)
INSERT [dbo].[RoomTransactions] ([roomTransId], [roomName], [roomTypeName], [from], [to], [numberOfDays], [price], [room_roomId], [roomType_roomTypeId]) VALUES (13, N'206', N'Family Room', CAST(N'2019-06-15 00:00:00.000' AS DateTime), CAST(N'2019-06-17 00:00:00.000' AS DateTime), 2, 600, NULL, NULL)
INSERT [dbo].[RoomTransactions] ([roomTransId], [roomName], [roomTypeName], [from], [to], [numberOfDays], [price], [room_roomId], [roomType_roomTypeId]) VALUES (14, N'207', N'Family Room', CAST(N'2019-06-05 00:00:00.000' AS DateTime), CAST(N'2019-06-14 00:00:00.000' AS DateTime), 9, 2700, NULL, NULL)
SET IDENTITY_INSERT [dbo].[RoomTransactions] OFF
SET IDENTITY_INSERT [dbo].[RoomTypes] ON 

INSERT [dbo].[RoomTypes] ([roomTypeId], [roomTypeName], [roomTypePrice]) VALUES (1, N'Superior Room', 100)
INSERT [dbo].[RoomTypes] ([roomTypeId], [roomTypeName], [roomTypePrice]) VALUES (2, N'Suite', 200)
INSERT [dbo].[RoomTypes] ([roomTypeId], [roomTypeName], [roomTypePrice]) VALUES (3, N'Family Room', 300)
SET IDENTITY_INSERT [dbo].[RoomTypes] OFF
/****** Object:  Index [IX_roomType_roomTypeId]    Script Date: 19-Jun-19 8:12:27 AM ******/
CREATE NONCLUSTERED INDEX [IX_roomType_roomTypeId] ON [dbo].[Rooms]
(
	[roomType_roomTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_room_roomId]    Script Date: 19-Jun-19 8:12:27 AM ******/
CREATE NONCLUSTERED INDEX [IX_room_roomId] ON [dbo].[RoomTransactions]
(
	[room_roomId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_roomType_roomTypeId]    Script Date: 19-Jun-19 8:12:27 AM ******/
CREATE NONCLUSTERED INDEX [IX_roomType_roomTypeId] ON [dbo].[RoomTransactions]
(
	[roomType_roomTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Rooms]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Rooms_dbo.RoomTypes_roomType_roomTypeId] FOREIGN KEY([roomType_roomTypeId])
REFERENCES [dbo].[RoomTypes] ([roomTypeId])
GO
ALTER TABLE [dbo].[Rooms] CHECK CONSTRAINT [FK_dbo.Rooms_dbo.RoomTypes_roomType_roomTypeId]
GO
ALTER TABLE [dbo].[RoomTransactions]  WITH CHECK ADD  CONSTRAINT [FK_dbo.RoomTransactions_dbo.Rooms_room_roomId] FOREIGN KEY([room_roomId])
REFERENCES [dbo].[Rooms] ([roomId])
GO
ALTER TABLE [dbo].[RoomTransactions] CHECK CONSTRAINT [FK_dbo.RoomTransactions_dbo.Rooms_room_roomId]
GO
ALTER TABLE [dbo].[RoomTransactions]  WITH CHECK ADD  CONSTRAINT [FK_dbo.RoomTransactions_dbo.RoomTypes_roomType_roomTypeId] FOREIGN KEY([roomType_roomTypeId])
REFERENCES [dbo].[RoomTypes] ([roomTypeId])
GO
ALTER TABLE [dbo].[RoomTransactions] CHECK CONSTRAINT [FK_dbo.RoomTransactions_dbo.RoomTypes_roomType_roomTypeId]
GO
USE [master]
GO
